streamlit
torch
transformers
sentencepiece
pandas
seaborn
matplotlib
requests
beautifulsoup4
gensim
numpy
wordcloud
plotly
konlpy
streamlit-option-menu
bertopic
openai
contextualized-topic-models==2.2.0
pyldavis
scikit-learn
bertopic[visualization]
python-mecab-ko
kiwipiepy
